<!DOCTYPE html>
<html>
    <head>
        <title>Western Health And Safety Certifications</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>

         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <!-- 1. Load libraries -->
            <!-- Polyfill(s) for older browsers -->
            <script src="node_modules/core-js/client/shim.min.js"></script>
            <script src="node_modules/zone.js/dist/zone.js"></script>
            <script src="node_modules/reflect-metadata/Reflect.js"></script>
            <script src="node_modules/systemjs/dist/system.src.js"></script>
            <!-- 2. Configure SystemJS -->
            <script src="systemjs.config.js"></script>
            <script>
                System.import('app').catch(function(err) {
                    console.error(err);
                });
            </script>

    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/">Health & safety dashboard</a></li>
            </ul>
        </nav>
        <main>
            <Dashboard>Loading...</Dashboard>
        </main>
        <footer class="navbar-fixed-bottom">
          <hr/>
        </footer>
		
<!--js-->

<script src="/app/public/javascripts/clientScripts.js"></script>
    </body>

</html>
